extensions:
  - PhpSpec\Extension\CodeCoverageExtension

code_coverage:
    format:
        - clover
        - html
    output:
        html: build/logs/html
        clover: build/logs/clover.xml

suites:
    main:
        namespace: Rb\Doctrine\Specification
        psr4_prefix: Rb\Doctrine\Specification
